@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Wedding';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      font-size: text-5xl   ;
      src: url(/fonts/TheWeddingSignature-Regular.woff2) format('woff2')
    }

    html {
        font-family: "Wedding", sans-serif;
    }
  }